# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
build/

# Local env files
.env
.env.local
.env.*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# macOS
.DS_Store

# Vite
*.local

# Testing
coverage/

# misc
*.tgz
.yarn-integrity
